.form-control{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #CADEEF;
  border-radius: .50rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
span{
  padding: .375rem 1rem;
  pointer-events: none;
  position: absolute;
  top:0;
  left:0;
  line-height: 1.5;
  font-size: 1rem;
  color: #495057;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
  opacity:0.8;
}
input:focus + span, input:not(:placeholder-shown)+ span{
  opacity:1;
  transform: scale(0.75) translateY(-80%) translateX(-18px);
  background-color: white;
  color: #495057;
  padding: .175rem 0.5rem;
}
textarea:focus + span, textarea:not(:placeholder-shown) + span {
  opacity:1;
  transform: scale(0.8) translateY(-80%) translateX(-1px);
  background-color: white;
  color: #495057;
  padding: .175rem 0.5rem;
}


.Forms_avatar {
  vertical-align: middle;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}
.Forms_titleText {
  color: rgb(62, 6, 62);
}
.Forms_first {
  text-align: left;
}
.textarea {
  resize: none;
}
.button {
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.form-control::placeholder {
  color: rgb(62, 6, 62);
  opacity: 1; /* Firefox */
}
.button1 {
  border-radius: 25px;
  background-color: #d6d4e0;
  color: black;
}
.button2 {
  border-radius: 25px;
  background-color: #4caf50;
  color: white;
}
@media (max-width: 500px) {
  .Forms_pic {
    display: none;
  }
  .Forms_title {
    margin-top: 100px;
  }
  .form-control {
    margin-bottom: 10px;
  }
  .custom-select {
    margin-bottom: 10px;
  }
  select {
    margin-left: 0;
  }
}
